{% extends "posts/base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block header %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
      <div class="row">
          <!-- Левый вспомогательный блок -->
          <div class="col-md-3 mb-3 mt-1">
              <div class="card">
                  <div class="card-body">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <div class="h3">
                                  Об авторе:
                              </div> 
                          </li>
                          <li class="list-group-item">
                              <div class="h6 text-muted">
                                  Antoniochirik, 23 годика, забыла все, чему учили в универе.
                              </div>
                          </li>
                      </ul>                                               
                  </div>                    
              </div>                
          </div>
          <!-- Тело страницы -->
          <div class="col-md-9">
              <div class="card-body">                    
                  <div class="card-text">
                      <h3>Автор учебного проекта:</h3>
                      <br>
                      <p>
                        Студент Яндекс.практикума. Умница, красавица, комсомолка (могла бы быть).
                        Данную работу выполняла в рамках учебной программы.
                      </p>
                      <p>
                          <strong>Почта: yoshitime@mail.ru
                      </p>
                      <p>
                          Github: <a href="https://github.com/antoniochiri/">Antoniochirik</a></strong>
                      </p>
                      <br>
                      <p>
                        Софт-скилы наше все. Умею разговаривать и переводить с технического на человеческий и обратно.
                        Залезла бы в железо, да ручки слабенькие, и пара шрамов от паяльника. Решила, что писать код безопаснее.
                      </p>
                      <p>
                        Благодарности лучшему ревьюеру за врем обучения <strong>Максиму</strong> и, конечно, <strong>малышке-крысе</strong>. Ссала на ноутбук и не давала мне расслабиться.
                      </p>
                  </div>                    
              </div>                
          </div>            
      </div>        
  </main>
{% endblock %} 