<!doctype html>
{% extends "base.html" %}
{% block title %}Последние обновления в подписках{% endblock %}
{% block header %}Последние обновления в подписках{% endblock %}
{% block content %}

    {% include "posts/includes/menu.html" with follow=True %}
    {% load cache %}
    {% cache 20 index_page post.id page %}
        {% for post in page %}
            {% include "posts/includes/post_item.html" with post=post %}
        {% endfor %}
    {% endcache %}

    {% if page.has_other_pages %}
        {% include "posts/includes/paginator.html" %}
    {% endif %}

{% endblock %}
